*{
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}


body{

    background:#e9edf2;
    margin:0;
    padding:20px;

}



/* MAIN */

.container{

    max-width:1200px;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 20px rgba(0,0,0,0.15);

}



h1{

    text-align:center;
    color:#003366;

}



h2{

    color:#003366;
    border-bottom:2px solid #003366;
    padding-bottom:5px;

}





/* FORM */

.grid{

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;

}



label{

    display:block;
    font-weight:bold;
    margin-top:10px;

}



input,
textarea{


    width:100%;
    padding:10px;
    border:1px solid #aaa;
    border-radius:5px;
    margin-top:5px;

}



textarea{

    height:100px;

}




/* TABLE INPUT */

table{

    width:100%;
    border-collapse:collapse;
    margin-top:15px;

}



th{

    background:#003366;
    color:white;
    padding:8px;

}



td{

    border:1px solid #333;
    padding:5px;

}


td input{

    border:none;

}





/* BUTTONS */


button{


    background:#003366;
    color:white;
    border:none;
    padding:12px 25px;
    margin-top:15px;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;


}


button:hover{

    background:#0055aa;

}





/* PREVIEW */


#preview{


    margin-top:40px;

}




/* HOUSE BL */

.bl{


    width:210mm;
    min-height:297mm;
    padding:15mm;
    background:white;
    border:1px solid #555;


}



.bl-header{


    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:3px solid #003366;
    padding-bottom:10px;


}



.logo{

    width:150px;

}




.company-info{

    text-align:right;
    font-size:13px;

}



.company-info h2{

    border:none;
    margin:0;
    color:#003366;

}




.title{


    text-align:center;
    font-size:26px;
    margin:20px 0;
    color:#003366;


}





.two-column{


    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
    margin-bottom:10px;


}



.box{


    border:1px solid #333;
    padding:10px;
    min-height:80px;


}



.box h3{


    background:#003366;
    color:white;
    padding:6px;
    margin:-10px -10px 10px -10px;
    font-size:14px;


}





.box table{

    margin-top:10px;

}



.box th{


    font-size:12px;

}


.box td{


    font-size:12px;
    text-align:center;

}





.signature{


    display:flex;
    justify-content:space-between;
    margin-top:70px;
    text-align:center;


}



.footer{


    text-align:center;
    margin-top:40px;
    font-size:12px;
    color:#555;


}





@media(max-width:900px){


.grid{

    grid-template-columns:1fr;

}


.two-column{

    grid-template-columns:1fr;

}


.bl{

    width:100%;

}


}
